$dark-theme-dark-blue: hsl(209, 23%, 22%); //dark mode lements
$dark-theme-white: hsl(0, 0%, 100%); //dark mode text / light mode elements
$dark-theme-very-dark-blue: hsl(207, 26%, 17%); //dark mode background
$light-theme-very-light-gray: hsl(0, 0%, 98%); //light mode background
$light-theme-very-dark-blue: hsl(200, 15%, 8%); //light mode text
$light-theme-dark-gray: hsl(0, 0%, 52%); //light mode input