<div class="countries" [ngClass]="{'dark-mode': darkMode == true}">
    <div class="countries__header">
        <span class="countries__header--title" routerLink="/">Where in the world?</span>
        <div class="countries__header--button" (click)="darkModeToggle()">
            <img *ngIf="darkMode == false" src="assets/images/icon-moon.svg">
            <img *ngIf="darkMode == true" src="assets/images/icon-sun.svg">
            <span *ngIf="darkMode == false">Dark Mode</span>
            <span *ngIf="darkMode == true">Light Mode</span>
        </div>
    </div>
    <div class="countries__content">
        <router-outlet></router-outlet>
    </div>
</div>